@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


h1, h2, h3, h4, h5, h6 {
  color: #0a0a0a;
  padding-bottom: 10px;
  line-height: 1em;
  font-family: inherit;
  font-size: 16px;
  margin-bottom: 15px;
  margin: 10px 0;
  font-weight: 500;
}
*, *::before, *::after {box-sizing: border-box;}
  
a {
  font-size: 14px;
  text-decoration: none;
  transition: all .25s ease;
  &:hover {
    opacity: 0.9;
  }
}

del {
  color: #ca1e34;
  font-style: italic;
}

p {
  line-height: 1.5;
  font-family: Open Sans;
}

button{
  text-shadow: none;
  background-image: none;
  transition: all 0.2s ease-in-out;
  font-weight: 500;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  font-size: 14px;
  line-height: 1.846;
  border-radius: 0.3rem;
  &:active {
    transform: scale(.95);
  }
  &:hover {
    transform: scaleX(1.05);
  }
  &:not(:empty) {
    padding: .5em;
  }
}

