table{
    width:100%;
    table-layout: fixed;
    &td:nth-child(even) {
        background: #f4f4f4;
       }
  }
  .tbl-header{
    background-color: rgba(255,255,255,0.3);
   }
  .tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
  }
  th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    background: #F5F5F5;
    color: #4b4b4b;
  }
  td{
    padding: 7px 8px;
    line-height: 1.3;
    vertical-align: top;
    font-weight: 400;
    border-bottom: 1px solid #F1F1F1;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: #6f6f6f;
    background: transparent;
  }
  
  
  
  