.tabs ul.lg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0!important;
    padding: 0;
    color: #000;
}
.tabs ul.lg .btn {
    /*background: #eee;
    background-color: #fff;*/
    padding: 12px;
    border-radius: .3rem;
    cursor: pointer;
    font-size: 13px;
    position: relative;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 5px;
    padding: 12px 15px;
    cursor: pointer;
    background-clip: padding-box;
    transition: background-color 0.2s ease-out 0.3s, color 0.2s ease-out 0s;
    &:hover {
        color: #ffffff;
    }
}
.tabs ul.lg li {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #fff;
    text-transform: capitalize;
    max-width: 26%;
    font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
}
.tabs ul.lg .btn-default:hover, .tabs ul.lg .active {
    /*background: #fff;*/
    font-weight: 500;
    color: #cecece;
}