
  article {
    flex: 1 1 100%;
    height: 100%;
    display: flex;
    flex-direction: var(--axis, row);
    overflow-x: hidden;
    text-align: left;
  }
  section {
    width: 100%;
    visibility: hidden;
    flex: 0 0 100%;
    padding: .9em 2em 2em 2em;
    overflow-y: scroll;
    overflow-x: hidden;

    /* for custom scrollbar for webkit browser*/
      
    &::-webkit-scrollbar {
      width: 6px;
    } 
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    } 
    &::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    }
    will-change: transform;
    transform: translate(var(--x, 0%), var(--y, 0%));
    transition: transform 100ms ease-out;
    transition: sizeUP  300ms ease reverse;
    position: relative;
    
    margin-top: 0;
    h2,h3,h4 {
      margin-top: 0 !important;
      font-weight: 600;
    }
    &.current {
      visibility: visible;
    }
    text-align: left;
  }
  footer {
    position: relative;
    text-align: left;
    width: 100%;
    display: inline-block;
    flex-direction: var(--axis-reverse, row-reverse);
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 0 1px rgba(#000, .1);
  }
  .save{
    padding:1rem;
    max-width: 200px;
    margin:10px;
    background: rgb(126, 191, 75);
    padding: 16px 14px;
    float: right;
    cursor: pointer;
    font-weight: 600;
    line-height: 14px;
    min-width: 173px;
    border: 0;
  }
  