@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

#security-policy {
  font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
h1, h2, h3, h4, h5, h6 {
  color: #0a0a0a;
  padding-bottom: 10px;
  line-height: 1em;
  font-weight: 500;
}
*, *::before, *::after {box-sizing: border-box;}
  
a {
  font-size: 14px;
  text-decoration: none;
}

del {
  color: #ca1e34;
  font-style: italic;
}

p {
  line-height: 1.5;
  font-family: Open Sans;
}

button{
  text-shadow: none;
  background-image: none;
  transition: all 0.2s ease-in-out;
  font-weight: 500;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  font-size: 14px;
  line-height: 1.846;
  border-radius: 0.3rem;
  &:active {
    transform: scale(.95);
  }
  &:hover{
    
  }
}